{{> navbar this}}
<section>
  <h1>Take a Test</h1>
  <form>
    <fieldset>
      <ul>
        {{#each data.questions}}

        <li class="tests"><a class="Anchor" href="/tests/{{_id}}/{{name}}"></a>
          <section id="{{sectionid}}" class="questions">
            <span class="choice_error">Please select a choice</span></p>
            <p> {{question}} <span class="error"></span></p>

            <label><input type="radio" name={{_id}} value="{{answer1}}">{{answer1}}<span></span></label>
            <label><input type="radio" name={{_id}} value="{{answer2}}">{{answer2}}<span></span></label>
            <label><input type="radio" name={{_id}} value="{{answer3}}">{{answer3}}<span></span></label>
            <label><input type="radio" name={{_id}} value="{{answer4}}">{{answer4}}<span></span></label>

            <br>
            <br>
          </section>
        </li>
        {{/each}}
      </ul>
      <form method="post"></form>
      <input type="hidden" id="result" class="result" name="result" value={{solution}} />
      <input id="questionButton" type="button" value="Show Results" />

  </form>
  <p id="results"></p>
  <br>
  <br>
  <button type="Retake" name="Retake"> Retake Quiz</button>
  <br><br>


  

  <br><br>
  <a href="/tests">Click here to go Back</a>
  </fieldset>
  </form>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>

  var solutions = {{{ solution }}}
  {{!-- console.log(solutions) --}}
  sum = solutions.length;


  function getSolution(QuestID) {
    var answer = document.querySelector(
      "#" + QuestID + " input[type=radio]:checked"
    );

    if (answer === null) {
      document.querySelector("#" + QuestID + " .error").style.display =
        "inline";
    } else {
      document.querySelector("#" + QuestID + " .error").style.display =
        "";
      answer = answer.value;
    }

    return answer;
  }

      {{!-- console.log(document.querySelector(
        "#" + `section${i + 1}` + " input[type=radio]:checked"
      )) --}}
      try{
      var subSolution = document.querySelector(
        "#" + `section${i + 1}` + " input[type=radio]:checked"
      ).nextElementSibling;
      }
      catch(e){
          subSolution = {textContent:0}
      }


  function getSolution(QuestID) {
    var answer = document.querySelector(
      "#" + QuestID + " input[type=radio]:checked"
    );

    if (answer === null) {
      document.querySelector("#" + QuestID + " .error").style.display =
        "inline";
    } else {
      document.querySelector("#" + QuestID + " .error").style.display =
        "";
      answer = answer.value;
    }

    return answer;
  }

  function getTotal() {
    var score = 0;

    for (var i = 0; i < sum; i++) {

      {{!-- console.log(document.querySelector(
        "#" + `section${i + 1}` + " input[type=radio]:checked"
      )) --}}
      var subSolution = document.querySelector(
        "#" + `section${i + 1}` + " input[type=radio]:checked"
      ).nextElementSibling;


      if (getSolution("section" + (i + 1)) == solutions[i]) {
        score += 1;

        subSolution.textContent = " (Correct!)";
      } else {
        subSolution.textContent = " (Incorrect!)";
      }
    }

    return score;
  }

  const questionButton = document.getElementById("questionButton");

  questionButton.addEventListener("click", () => {
    getResults()
  })

  var getResults = function () {

    var message = "";
    var isValid = true;
    var score_temp = 0
    if (getTotal() == 0) {
      message = "your score is 0%, Retake the Quiz";
    }
    else if (getTotal() == 1) {
      message = "your score is 30%, Retake the Quiz";
      score_temp = 30
    }
    else if (getTotal() == 2) {
      message = "your score is 50%, Retake the Quiz";
      score_temp = 50
    }
    else if (getTotal() == 3) {
      message = "your score is 70%, You have passed!";
      score_temp = 70
    }
    else if (getTotal() == 4) {
      message = "Perfect.your score is 100% ,You have passed!";
      score_temp = 100
    }

    return [message, score_temp];
  };

  $('#questionButton').click(function(e) {
    var result = getResults();
    document.getElementById("results").innerHTML = result[0];
    {{!-- console.log({{{data}}}) --}}
    {{!-- var c_name = String({{{data.courseName}}}) --}}
    var c_name = {{{course}}}
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/score",
        dataType: "json",
        {{!-- jsonpCallback: "_callback", --}}
        data: {
           course_name: c_name.courseName,
           score: result[1]
              },
    success: function (result_s) {
      {{!-- console.log(result_s) --}}
      alert(result_s.message);
    },
    error: function (result_s) {
      {{!-- console.log(result_s) --}}
      alert('error');
    }
        });
  

    });
 

</script>
