<h2>List of All Courses</h2>

{{> navbar this}}

<div class="col-md-2 text-center">
                    <div class="dropdown ml-0">
                      
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownFilter">
                            <a href="/filter/filter/cs" class="dropdown-item">CS</a> <br><br>
                            <a href="/filter/filter/NonCS" class="dropdown-item" >NonCS</a>
                        </div>
                    </div>
    
</div>
<br>
<br>
<br>
<br>
<br>

<form action='/search/searchcourses' method="POST">
    <label class="labelclass">
        Search for courses
        <input type="text" name="courseSearchTerm" required="" />
    </label>
    <button type="submit" name ="Submit" required="" > Search </button>
</form>
{{#if search}}
    <h2 class="resultH2">Following are the results for "{{courseSearchTerm}}"</h2>
    {{#if hasError}}
    <p class="notFound">{{error}}</p>
    {{/if}}
{{/if}}

<br>

<div class="row">
    <div class="col-sm-12">
     <div style="margin-left: 25px;">
    {{#data}}    
     <a href="/course/{{{courseName}}}">{{courseName}}</a>
     <p id={{_id}}>{{description}}</p>
     {{/data}}   
     </div>      
    </div>
</div>

