
{{!-- <!DOCTYPE html>
<html lang="en">
<head>
     
     <title>EdTech</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50"> --}}


     {{> navbar this}}

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- HOME -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             {{!-- <h1 class = "info">Efficient Learning Methods</h1>
                                             <h2 class = "info">at EdTech Learning</h2> --}}
                                             
                                             {{!-- <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin ut at libero. Visit <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.</h3>
                                             <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a> --}}
                                        </div>
                                        
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             
                                             {{!-- <h1>Start your journey with our practical courses</h1>
                                             <h2 class = "info">Our online courses are built in partnership with technology leaders and are designed to meet industry demands.</h2>
                                             <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a> --}}
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             {{!-- <h1>Distance Learning Education Center</h1> --}}
                                             {{!-- <h2 class="info">Our online courses are designed to fit in your industry supporting all-round with latest technologies.</h2>
                                             <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a> --}}
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <h1 class = "info">Efficient Learning Methods</h1>
                    <h2 class = "info">at EdTech Learning</h2>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Trending Courses</h3>
                              <p>Break into a new field like information technology or data science. No prior experience necessary to get started.</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Certified Courses</h3>
                              <p>Find a top degree that fits your life.</p>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Certified Teachers</h3>
                              <p>Get job-ready for an in-demand career.</p>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <h2>Start your journey to a better life with online practical courses</h2>

                              {{!-- <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Professional Trainers</h3>
                                        <p>We have world-class trainers at EdTech.</p>
                                   </figcaption>
                              </figure> --}}

                              <figure>
                                   <span><i class="fa fa-users"></i></span>
                                   <figcaption>
                                        <h3>Professional Trainers</h3>
                                        <p>We have world-class trainers at EdTech who can prepare you for the job market and make you industry ready.</p>
                                   </figcaption>
                              </figure>

                              <figure>
                                   <span><i class="fa fa-certificate"></i></span>
                                   <figcaption>
                                        <h3>Learn without limits</h3>
                                        <p>Get that "ready for anything" feeling with more than 5,000 courses.</p>
                                   </figcaption>
                              </figure>

                         </div>
                    </div>


                              

                                   {{!-- LOGIN PAGE --}}
                    {{#if notLoggedIn}}
                         <div class="col-md-offset-1 col-md-4 col-sm-12">
                              <div class="entry-form">
                                   <form action="/login" method="post" id="login-form" class="login-form">

                                        <h2>Login Now</h2><label for="Email" class="sign-up-label">
                                        <input type="email" name="email" id = "Email" class="form-control" placeholder="Your Email" required=""></label>
                                        <label for="Password" class="sign-up-label">
                                        <input type="password" name="password"  id="Password" class="form-control" placeholder="Your password" required=""></label>


                                        <button class="submit-btn form-control" id="form-submit">Login</button>
                                   </form>

                                   {{#if hasErrors}}
                                   <p class="error">{{error}}</p>
                                   {{/if}}
                                   <div class="signup">
                                        <a href="/signup">Need to register? Click here to SignUp</a>
                                   </div>
                              </div>
                         </div>
                    {{/if}}
               </div>
               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Teachers <small>Meet Professional Trainers</small></h2>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="public/images/Achal.jpeg" class="img-responsive" alt=""/>
                              </div>
                              <div class="team-info">
                                   <h3>Achal</h3>
                                   <span>I love Teaching</span>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="public/images/Preet.jpg" class="img-responsive" alt=""/>
                              </div>
                              <div class="team-info">
                                   <h3>Preet</h3>
                                   <span>Education is the key!</span>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="public/images/Sushmitha.jpeg" class="img-responsive" alt=""/>
                              </div>
                              <div class="team-info">
                                   <h3>Sushmitha</h3>
                                   <span>I like Online Courses</span>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   <img src="public/images/Marvin.jpeg" class="img-responsive" alt=""/>
                              </div>
                              <div class="team-info">
                                   <h3>Marvin</h3>
                                   <span>Learning is fun</span>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- Courses -->
     <section id="courses">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12" >
                         <div class="section-title">
                              <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>
                         </div>
                         <div id="modify" hidden>
                              <h3><a href="/allCourses">Modify Courses</a></h3>
                         </div>

                         <div id="viewall" >
                              <h3><a href="/viewAllCourses">View all Courses</a></h3>
                         </div>

                         <div class="owl-carousel owl-theme owl-courses" id="course_row">

                         </div>
                    </div>
               </div>
          </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section id="testimonial">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>Student Reviews <small>from around the world</small></h2>
                         </div>

                         <div class="owl-carousel owl-theme owl-client">
                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="public/images/tst-image1.jpg" class="img-responsive" alt="image">
                                        </div>
                                        <div class="tst-author">
                                             <h3>Jackson</h3>
                                             <span>Web Developer</span>
                                        </div>
                                        <p>“Not only does my resume look impressive—filled with the names and logos of world-class institutions—but these certificates also bring me closer to my career goals by validating the skills I’ve learned.”</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="public/images/tst-image2.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h3>Camila</h3>
                                             <span>Python</span>
                                        </div>
                                        <p>“Getting into IT always felt insurmountable, because it was either I had the time but not the money, or I had the money but not the time. When I discovered the course python for everyone I knew: this is my gateway. This is my path. This is how I can get into IT.”</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="public/images/tst-image3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h3>Barbie</h3>
                                             <span>AI</span>
                                        </div>
                                        <p>"EdTech introduced me to the world of AI and now I can’t stay away! I’m a medical student exploring how AI can be used to solve healthcare delivery problems in West Africa. So far, I have taken 5 AI-related courses and a writing course.”</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="tst-image">
                                             <img src="public/images/tst-image4.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="tst-author">
                                             <h3>Andrio</h3>
                                             <span>Java Developer</span>
                                        </div>
                                        <p>"We were looking for scale, credibility, and something we didn’t have to build in-house. EdTech not only offers training from very prestigious institutions but also a platform that allows you to do the tracking that you want."</p>
                                        <div class="tst-rating">
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star"></i>
                                        </div>
                                   </div>
                              </div>

                         </div>

                    </div>
               </div>
          </div>
     </section> 


     {{!-- <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">
                    
                                   <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">

                                   <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message" required=""></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>

                         </form>

                    </div>
               </div>
          </div>
     </section> 


     <!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Headquarter</h2>
                              </div>
                              <address>
                                   <p>1 Castle Point Terrace,<br> Hoboken, NJ 07030</p>
                              </address>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2022 EdTech</p>
                                   
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Contact Info</h2>
                              </div>
                              <address>
                                   <p>+1 (900) 900 9000</p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>EdTech</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <span><sup>*</sup> EdTech is the global online learning platform that offers anyone, anywhere access to online courses and degrees from world-class universities and companies.</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


{{!-- </body> --}}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<script>
     if ({{{course_info}}}){
          var courses = {{{course_info}}}
     }
     else{
          var courses = {}
     }
     var count = 1
     for (var i of courses){
          {{!-- console.log(i) --}}
          const html_temp = `<div class="col-md-4 col-sm-4">
                                   <div class="item">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       {{!-- <img src="public/images/${i.courseName}.jpeg" class="img-responsive" alt=""> --}}
                                                       <img src=${i.image} class="img-responsive" alt="">
                                                       
                                                  </div>
                                                  {{!-- <div class="courses-date">
                                                       <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>
                                                       <span><i class="fa fa-clock-o"></i> 7 Hours</span>
                                                  </div> --}}
                                             </div>

                                             <div class="courses-detail">
                                                  <h3><a href="/course/${i.courseName}">${i.courseName}</a></h3>
                                                  <p class = "desc">${i.description}</p>
                                             </div>

                                             <div class="courses-info">
                                                  <div class="courses-author">
                                                       <img src="public/images/teacher-11.png" class="img-responsive" alt="">
                                                       <span>${i.inst_name}</span>
                                                  </div>
                                                  <!-- <div class="courses-price">
                                                       <a href="#"><span>USD 25</span></a>
                                                  </div> -->
                                             </div>
                                        </div>
                                   </div>
                              </div>`
          $("#course_row").append(html_temp)
          count = count + 1
          if(!{{notLoggedIn}}){
               {{!-- console.log({{userType}}) --}}
               if({{userType}}){
                    $('#modify').show();
               }
               else{
                    $('#modify').hide();
               }
          }
     }
</script>