<!-- MENU -->
{{> navbar this}}
<div class="text-center-userpage">
<h1 class="name">
    {{data.name}}
</h1>

<h2 class="email">
    Email:  <br> 
    {{data.email}}
</h2>

<h2 calss="age">
    Age:  <br> 
    {{data.age}}
</h2>

<div class = "wrapper"></div>
    
<div>

<form>
    <button class="red" type="submit"><i class="icon ion-md-lock"></i>Edit Info!</button>
</form>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    function progress(){
        {{!-- {{#each progress_data}} --}}
        {{!-- {{progress(this)}} --}}
        {{!-- {{/each}} --}}
        var progress_info = {{{progress_data}}}
        {{!-- console.log(progress_info) --}}
        for (var i of progress_info){
            {{!-- console.log(i) --}}
            var course_name = Object.keys(i[0])
            var $div = $("<div></div>")
            {{!-- var class = 'circle per-'+data; --}}
            $div.addClass('circle per-'+i[0][course_name]);
            $div.css({'background-image': 'conic-gradient(#67b168 '+i[0][course_name]+'% , #f52b2b 0)'})
            $div.append($('<div/>').addClass("inner").text(course_name+'\n'+i[0][course_name]+ '%'));
            $(".wrapper").append($div)
        }
    }
    progress()
    $('.inner').click(function(e){
        {{!-- alert(this.text) --}}
        {{!-- console.log(jQuery(this).text()) --}}
        var course_data = jQuery(this).text().split(/\r?\n/)
        {{!-- console.log(course_data) --}}
        window.location = "http://localhost:3000/video/"+course_data[0];
    })
</script>
